.banner {
  background-image: url("../../assets/project-page/banner-design\ 1.jpg");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  height: 456px;
  width: 100%;
}
